*{box-sizing: border-box}
/* don't forget to mention the developer when using this code */
.dev_tools_block{
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dev_block{
	width: 260px;
    height: 200px;
    display: inline-block;
    transform: rotate3d(-56, -327, 6, 67deg);
    margin: 0 -105px;
    position: relative;
	transition: transform .3s, top .3s, padding .3s;
	cursor: pointer;
}
.dev_block:hover{
	transform: rotate3d(-56, -327, 6, 67deg) translateX(50px);
}
.dev_block.active,
.dev_block.active:hover{
	transform: rotate3d(0, 0, 0, 0deg) translateX(200px);
	top: 100px!important;
	z-index: 999!important;
}
.dev_block.active > div,
.dev_block.active:hover > div{
	padding: 13px;
	border-width: 0px;
	border-radius: 0;
}
.dev_block > div{
	width: 100%;
    height: 100%;
    border-top: 13px solid;
    border-right: 34px solid;
	color: #fff;
	border-radius: 20px;
}
.dev_block.text-black > div{
	color: #000;
}
.dev_block .dev_tool_name{
	padding: 0 30px;
	float: right;
	font-size: 20px;
}
.dev_block.active .dev_tool_name{
	float: none;
	padding: 0;
}
.dev_block .dev_tool_description{
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
	max-height: 144px;
    overflow: hidden;
	transition: all .3s;
}
.dev_block.active .dev_tool_description{
	opacity: 1;
	visibility: visible;
}

.dev_block.block_index-1{z-index: 1;top: 0;}
.dev_block.block_index-2{z-index: 2;top: 10px;}
.dev_block.block_index-3{z-index: 3;top: 20px;}
.dev_block.block_index-4{z-index: 4;top: 30px;}
.dev_block.block_index-5{z-index: 5;top: 40px;}
.dev_block.block_index-6{z-index: 6;}
.dev_block.block_index-7{z-index: 7;}
.dev_block.block_index-8{z-index: 8;}
.dev_block.block_index-9{z-index: 9;}
.dev_block.block_index-10{z-index: 10;}
.dev_block.block_index-11{z-index: 11;}
.dev_block.block_index-12{z-index: 12;}
.dev_block.block_index-13{z-index: 13;}
.dev_block.block_index-14{z-index: 14;}
.dev_block.block_index-15{z-index: 15;}
.dev_block.block_index-16{z-index: 16;}
.dev_block.block_index-17{z-index: 17;}
.dev_block.block_index-18{z-index: 18;}
.dev_block.block_index-19{z-index: 19;}
.dev_block.block_index-20{z-index: 20;}